@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  /* color: #D5DEF6; */
  background-color: #208BAC;
}

h1, h2, h3, h4, h5 {
  color: #D5DEF6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* body {
 background-image: url("img/water.jpg");
 background-repeat: no-repeat;
} */

.clickableLink {
  color: #41B4EE;
}

.clickableLink:hover {
  color: #F6E6AC;
  cursor: pointer;
}

.navbar-navbar {
  background-color: #D5DEF6;
}

.navbar-brand {
  color: #7BD5EE;
}

.post-card {
  background-color: #1717170f;
  border: 1px solid #186294;
}

.post-card-list-group {
  background-color: none;
}

.delete-button:hover {
  color: rgb(255, 95, 95);
}

.post-card-button {
  background-color: #41B4EE;
}

